<div class="well">
    <h1>About Us</h1>
    <p style="font-size:20px">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus illo minima et quaerat voluptatum dolorum eaque culpa,
libero accusantium doloremque nemo maxime. Iusto eum nulla ea hic quis quod voluptatibus! Lorem ipsum dolor sit amet, consectetur
adipisicing elit. Obcaecati id vero, voluptatum nam eum ullam a maiores? Sint tempore incidunt cumque reiciendis delectus,
reprehenderit id atque illo quidem. Veritatis, explicabo.</p>
</div>