<div class="container">
   <div class="row">
      <div class="col-md-12 well">
         <%= link_to dinner_path do %>
           <%= image_tag "/assets/lunch.logo.png", id: "lunch-logo" %>
           <span style="font-size: 50px;padding-left: 290px;">lunch</span>
         <% end %>
      </div>
 
      </div>
      <div class="row">
      <div class=" col-md-12 well">
      
         <%= link_to lunch_path do %>            
            <span style="font-size: 50px;padding-right: 290px;">dinner</span>           
            <%= image_tag "/assets/dinner.logo.png", id: "dinner-logo" %>            
         <% end %>
      </div>
   </div>
</div>