
    <h1 class="text-danger">Pizza Dimarco</h1>
    <h5>Family Owned since 1985</h5>
    <h2 class="responive-font bg-success text-white">Pizza . Pasta . Sandwiches . Salads</h2>
    <h2 class="responive-font text-danger">Dine In - Take Out - Delivery</h2>
    <h2 class='text-success'> GOURMET PIZZA & PASTA</h2>
    <a id='tel'  href="tel:1-661-295-8769">Tel: 1-661-295-8769</a>  
    <a id='fax' href="fax:1-661-295-9533">Fax: 1-661-295-8769</a> 
    <h3 style="padding-top:13px">Min.order $12.00</h3>
    <h2>    27674 Newhall Ranch Rd #45, Valencia, CA 91355      </h2>  



