<%= stylesheet_link_tag   "about" %>

<div class="container-fluid">
    <div  class="row" >    
      <div id='full-img'  class="col-md-12 jumbotron ">   
          <div id="hide-min769" class=''>
              <%= render 'shared/about_content'%>
          </div>    
      </div>
    </div>
    <div class='row'>
      <div id="hide-max768" class="col-md-12  text-center jumbotron" >   
          <div  class=" ">
              <%= render 'shared/about_content'%> 
          </div>                           
       </div>   
   
       
       
    </div>
</div>    

