<%#= stylesheet_link_tag    "about" %>
<style>

/*.row {*/
/*    height: 80%;*/
/*}*/
#full-img {
    object-fit: fill;
    width: 100%;
    height: 500px;
}

.col-md-12{
     padding-left: 0; 
     padding-right: 0; 
     height: 100%;
}

.well{
    padding-left: 25px;
    padding-right: 25px;
}
/*@media only screen and (min-width: 720px) {*/
/* .container-fluid,*/
/* .col-md-4,*/
/* .row {*/
/*      height: 85%;*/
/* }*/

/*}*/
</style>
 <div class="container-fluid">
    <div  class="row" >    
      <div  class=" col-md-12 well">
            <%= render 'shared/contact_content' %>
      </div>
     </div>
    <div class='row'>
      <div  class="col-md-12 jumbotron">
          <div class="">
              <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/Pizza_in_Naples.jpg/800px-Pizza_in_Naples.jpg" , id: 'full-img'%>
          </div>   

      </div> 
