<%= stylesheet_link_tag    "about" %>
 <div class="container-fluid">
    <div  class="row" >    
      <div  class=" col-md-12 well">
            <%= render 'shared/contact_content' %>
      </div>
     </div>
    <div class='row'>
      <div  class="col-md-12 jumbotron">
          <div class="">
              <%= image_tag "https://upload.wikimedia.org/wikipedia/commons/thumb/4/41/Pizza_in_Naples.jpg/800px-Pizza_in_Naples.jpg" , id: 'full-img'%>
          </div>   

      </div> 
