<%= stylesheet_link_tag    "contact" %>
<div class="container-fluid">
    <div  class="row" >    
      <div id="hide-max768" class=" col-md-12 jumbotron">
            <%= render 'shared/contact_content' %>
      </div>
    </div>
<div class='row'>
  <div id='full-img' class="col-md-12 jumbotron">
      <div id="hide-min769" >   
          <%= render 'shared/contact_content' %>
      </div>
      
  </div> 
  </div>
</div>