
<style>
 /*#row-100percent{*/
 /*    height:100%*/
     
 /*}*/


</style>


<div class="container-fluid">
    <div  class=" row " >
       <div class="col-md-4 text-center"  >
       
       <%= image_tag "http://sohopizza.com/images/pizza.jpeg" , class: 'img-responsive' , id: 'col-bg-pic'%>
             <div id='hide-min992' class="jumbotron ">
             
               <%= render 'shared/index_content' %>
            </div>
        </div>
       <div class=" col-md-8  text-center">
           <div id='hide-max992' class="jumbotron ">
                <%= render 'shared/index_content' %> 
            </div>    
        </div>
    </div>
</div>