<div class="container-fluid">
    <div class="row" >
       <div id="col-bg-pic" class="col-md-4 text-center"  >
             <div id='hide-min769' class="jumbotron ">
               <%= render 'shared/index_content' %>
            </div>
        </div>
       <div class=" col-md-8 text-center">
           <div id='hide-max769' class="jumbotron">
                <%= render 'shared/index_content' %> 
            </div>    
        </div>
    </div>
</div>