.jumbotron {
    min-height: 60%;
    min-height: 50vh;
    margin-bottom: 0px;
}
#full-img{
        height: 100%;
    }

@media only screen and (min-width: 769px) {

    #hide-min769 {
        display: none;
    }
         .well{
        height: 60vh;
    }

}

@media only screen and (max-width: 768px) {
    #hide-max768 {
        display: none;
    }

    .jumbotron {
        min-height: 93%;
        min-height: 93vh;
    }


}
