@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

#full-img {
    /*background-image: url("http://www.pmq.com/pizzapower-groupshot.jpg");*/
    /*background-position: center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover;*/
    object-fit: fill;
    width: 100%;
    height: 315px;
}

.col-md-12{
     padding-left: 0; 
     padding-right: 0; 
     height: 100%;
}

.well{
    height: 100%;
}

@media only screen and (min-width: 720px) {
 .container-fluid,
 .col-md-4,
 .row {
      height: 71%;
 }
}

@media only screen and (min-width: 320px) {        
    .container-fluid .jumbotron {     
        margin-top: 10px;
    }        
}