@import "bootstrap-sprockets";
@import "bootstrap";

 #tel,#fax{
     font-size: 35px;
     font-weight: 500;
     color: black;
     text-decoration: none;
}

 .navbar-inverse {
     background-color: #a94442;
     border-color: #f90909;
}
 .navbar-inverse .navbar-nav > li > a , .navbar-inverse .navbar-brand, .navbar-inverse .navbar-toggle:not(:hover){
     color: #f5f5f5;
}
 .navbar-inverse .navbar-nav > .active > a {
     background-color: #bfbb56;
}
 .navbar-inverse .navbar-toggle:hover{
     background-color: #a4a52c;
}
 html,body {
     height: 100%;
}
 #col-bg-pic{
     background-image: url("http://sohopizza.com/images/pizza.jpeg");
     background-position: center;
     background-repeat: no-repeat;
     background-origin: content-box;
     background-clip: padding-box;
     background-size: cover;
     -webkit-animation-name: example;
    /* Safari 4.0 - 8.0 */
     -webkit-animation-duration: 4s;
    /* Safari 4.0 - 8.0 */
     animation-name: example;
     animation-duration: 4s;
     margin-top: 0;
}
/* Safari 4.0 - 8.0 */
 @-webkit-keyframes example {
     0% {
        opacity: 0.0;
    }
     25% {
        opacity: 0.25;
    }
     50% {
        opacity: 0.5;
    }
     100% {
        opacity: 1;
    }
}
/* Standard syntax */
 @keyframes example {
     0% {
        opacity: 0.0;
    }
     25% {
        opacity: 0.25;
    }
     50% {
        opacity: 0.5;
    }
     100% {
        opacity: 1;
    }
}

.jumbotron{
    min-height: 100%;
    min-height: 100vh;
}

#lunch-logo,
#dinner-logo {
    width: 15em;
    // height: 100;
}


 @media only screen and (max-width: 375px){
     #fax{
         font-size: 30px;
    }
}
 @media only screen and (min-width: 720px){
     .container-fluid,.col-md-4,.row {
         height: 100%;
    }
    
     .jumbotron{
       margin-bottom: 30px;
      }
}
 @media only screen and (min-width: 769px){
     #hide-min769 {
         display: none;   
       }
       
  
}
 @media only screen and (max-width: 769px){
     #hide-max769{
         display:none;
     
    }
     #col-bg-pic {
         height: 100%;
    }
    
      .jumbotron{
       margin-bottom: 0px;
      }
}  
 