.jumbotron {
    min-height: 60%;
    min-height: 50vh;
    margin-bottom: 0px;
    h1 {
        font-size: 40px;
    }
}


.col-md-12{
     padding-left: 0; 
     padding-right: 0; 
     height: 100%;
}

 


@media only screen and (min-width: 769px) {

    #hide-min769 {
        display: none;
    }

 .change-margin{
     margin-left: 50px;
     margin-right: 50px;
 }
}

@media only screen and (max-width: 768px) {
    #hide-max768 {
        display: none;
    }
        .jumbotron {
        min-height: 93%;
        min-height: 93vh;
        margin-left: 25px;
        margin-right: 25px;
    }
    
    #full-img{
        height: 130vh;
    }
}