img{
    width: 250px;
    height: 250px;
}

.jumbotron{
   // margin: 30px;
   margin-bottom: 0px;
}

.btn {
    font-size: 20px;
}



@media only screen and (min-width: 768px) {
    #change-pasta {       
       top: 3px;
    }
    
    #change-two{        
        top: -108px;
    }
    
    #change-cold-sandwich {
           top: -160px;
        
    }
    
    #change-hot-sandwich {
        top: -190px;
    }
    
    #change-side-order {
        top: -95px;
    }
    
    #change-dessert{
            top: -160px;
    }
    
    #change-beverages{
        top: -125px;
    }
}
 