img{
    width: 250px;
    height: 250px;
}

.jumbotron{
   // margin: 30px;
   margin-bottom: 0px;
}

// .card {
//   background-color: #cc7432;
//   padding: 10px;
//   margin-bottom: 5px;
//   margin-top: 10px;
//   // height: 480px;
//   position: relative; 
//   }



@media only screen and (min-width: 991px) {
    #change-pasta {       
       top: 3px;
    }
    
    #change-two{        
        top: -108px;
    }
    
    #change-cold-sandwich {
        top: -132px;
        
    }
    
    #change-hot-sandwich {
        top: -157px;
    }
    
    #change-side-order {
        top: -95px;
    }
    
    #change-dessert{
            top: -113px;
    }
    
    #change-beverages{
        top: -90px;
    }
}
 