<style>

.card {
    height: 165px;
}


</style>

<div class="container jumbotron">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Beverages</h1>      
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
        <div class="card" >
            <div  class="card-body">
               <h2 class="card-title">Coke, Diet Coke,Sprite, Dr Pepper, Lemonade</h2>
               <a href="#" class="btn btn-primary">$1.35</a>
            </div>
         </div>         
        </div>
        <div class="col-md-6">
         <div class="card" >
            <div  class="card-body">
               <h2 class="card-title">Snapple</h2>
               <a href="#" class="btn btn-primary">$1.95</a>
            </div>
         </div> 
        </div>
        <div class="col-md-6">
         <div class="card" >
            <div  class="card-body">
               <h2 class="card-title">Water Bottle </h2>
               <a href="#" class="btn btn-primary">$1.35</a>
            </div>
         </div> 
        </div>
        <div class="col-md-6">
         <div class="card" >
            <div  class="card-body">
               <h2 class="card-title"> 2 Liter coke, diet coke, sprite </h2>
               <a href="#" class="btn btn-primary">$2.95</a>
            </div>
         </div> 
        </div>
    </div>
    <%= render 'shared/back_to_dinner_page' %>
</div>