<div class="container jumbotron">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>Dessert</h1>      
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card" style="">
              <img class="card-img-top img-thumbnail"  src="https://upload.wikimedia.org/wikipedia/commons/f/fc/Tiramisu_with_blueberries_and_raspberries%2C_July_2011.jpg" alt="Tiramisu">
              <div class="card-body">
                <h3 class="card-title">Tiramisu</h3>
                <a href="#" class="btn btn-primary">$3.50</a>
              </div>
            </div>
        
        </div>
        <div class="col-md-4">
           <div class="card" style="">
              <img class="card-img-top img-thumbnail"  src="https://upload.wikimedia.org/wikipedia/commons/d/d8/NYCheesecake.jpg" alt="NY Cheesecake">
              <div class="card-body">
                <h3 class="card-title">N Y Cheesecake</h3>
                <a href="#" class="btn btn-primary">$3.50</a>
              </div>
            </div>
        
        </div>
        <div class="col-md-4">
            <div class="card" style="">
              <img class="card-img-top img-thumbnail"  src="https://www.kcet.org/sites/kl/files/atoms/article_atoms/www.kcet.org/living/food/Chocolate%2520Mousse%2520Cake.jpg" alt="chocolate mousse">
              <div class="card-body">
                <h3 class="card-title">chocolate mousse</h3>
                <a href="#" class="btn btn-primary">$3.50</a>
              </div>
            </div>
        </div>       
    </div>
    
<%= render 'shared/back_to_dinner_page' %>
</div>