<div class="container jumbotron">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1> Salads</h1>        
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">TOSSED GREEN SALAD</h5>
                <p class="card-text">Lettuce, Tomato, Carrots, Black Olives and Mozzarella Cheese.</p>
                <a href="#" class="btn btn-primary">$3.95 small</a>
                <a href="#" class="btn btn-primary">$5.95 large</a>
              </div>
            </div>        
        </div>
       <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title">TOSSED GREEN SALAD</h5>
                <p class="card-text">With Salami, Ham, Pepperoni, Red Onion, Black Olives, Tomatoes, Pepperochini and Mozzarella Cheese.</p>
                <a href="#" class="btn btn-primary">$5.25 small</a>
                <a href="#" class="btn btn-primary">$8.99 large</a>
              </div>
            </div>        
        </div> 
    </div>
</div>
